.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: rgb(187, 14, 14);
  color: white;
  padding: 0.5rem 0.7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 1rem;
}

.button:hover,
.button:active {
  background-color: rgb(226, 46, 46);
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
}

.badge {
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;

  color: #fff;
  background-color: rgba(17, 17, 17, 0.295);
}

.button:hover .badge,
.button:active .badge {
  background-color: #fff;
  color: #111;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 477px) {
  .button {
    padding: 0.2rem 0.4rem;
    font-size: 0.6rem;
  }
}
